.about-me__blog__article{
    padding-top: 10px;

    .about-me__blog__article__title{
        margin: 0;
    }

    p{
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
    }

    .about-me__blog__article__first-paragraph{
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: 54px;

        span{
            margin-top: 18px;
            font-size: 50px;
            font-family: "Lucida Grande", sans-serif;
        }
        p{
            width: 666px;
            margin-top: 20px;
            margin-left:8px;
        }
    }

    .about-me__blog__article__second-paragraph{
        padding-top: 2px;
    }
}