$main-font: 'Lato', sans-serif;

h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-weight: 400;
}
h3{
    font-size: 25px;
    font-weight: 400;
}
h4{
    font-size: 18px;
    font-weight: 400;
}
h5{
    font-size: 16px;
    font-weight: 400;
}

p{
    font-weight: 400;
}