.youtube{
    background: url("../images/img/a-icon-youtube.png")no-repeat; 
    display: block;
    width: 21px; 
    height: 16px; 
}
.linkedIn{
    background: url("../images/img/a-icon-linkedIn.png")no-repeat; 
    display: block; 
    width: 21px; 
    height: 16px; 
}
.twitter{
    background: url("../images/img/a-icon-twitter.png")no-repeat; 
    display: block; 
    width: 21px; 
    height: 16px; 
}
.facebook{
    background: url("../images/img/a-icon-facebook.png")no-repeat;
    display: block; 
    width: 21px; 
    height: 16px; 
}

.youtube:hover{
    background: url("../images/img/a-icon-youtube-hover.png") no-repeat;
}

.linkedIn:hover{
    background: url("../images/img/a-icon-linkedin-hover.png") no-repeat;
}

.twitter:hover{
    background: url("../images/img/a-icon-twitter-hover.png") no-repeat;
}

.facebook:hover{
    background: url("../images/img/a-icon-facebook-hover.png") no-repeat;
}

.youtube:active{
    background: url("../images/img/a-icon-youtube-active.png") no-repeat;
}

.linkedIn:active{
    background: url("../images/img/a-icon-linkedin-active.png") no-repeat;
}

.twitter:active{
    background: url("../images/img/a-icon-twitter-active.png") no-repeat;
}

.facebook:active{
    background: url("../images/img/a-icon-facebook-active.png")no-repeat;
}