button {
  width: 220px;
  height: 48px;
  background-color: #ec6767;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
}

button:hover {
  background-color: #cf5858;
}

button:active {
  background-color: #b64747;
}

label {
  color: #474747;
  font-size: 18px;
}

.input {
  margin-right: 50px;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  font-size: 18px;
}

textarea {
  width: 70%;
  min-height: 100px;
  resize: none;
}

.radio-button {
  input {
    position: relative;
    top: 3px;
    height: 16px;
    background-color: #474747;
  }

  p {
    position: relative;
    left: -5px;
  }

  input:hover {
    color: #dedbdb;
  }

  input:active {
    color: #474747;
  }
}

.chekbox-block {
  input {
    height: 24px;
    width: 24px;
  }
}
