.welcome__slider{
    padding-top: 30px;
    margin: 0;
    position: relative;

    .welcome__slider__prev{
        position: absolute;
        left: 34px;
        top: 205px;
    }

    .welcome__slider__next{
        position: absolute;
        right: 34px;
        top: 205px;
    }

    .cursor:hover{
        cursor: pointer;
    }   

    .welcome__slider-title{
        position: absolute;
        bottom: 40px;
        left: 25px;
        color: #fff;
    }

    .welcome__slider-slide__counter{
        position: absolute;
        bottom: 40px;
        right: 25px;
        color: #fff;
    }
}