@import "fonts";
@import "icons";
@import "links";

body {
  width: 100vw;
  margin: 0;
  font-family: $main-font;
  background-color: #fbfbfb;

  .background {
    background-color: #474747;
  }
}

.header {
  width: 80vw;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-direction: row;

    .logo__img {
      padding: 17px 0;
      height: 66px;
    }

    .logo__text {
      color: #ec6767;
      margin: 0;
      padding: 32px 20px;
    }
  }

  .menu {
    .menu__nav {
      ul {
        padding: 23px 0;

        li {
          text-decoration: none;
          display: inline;
          padding-left: 20.5px;
          margin: 0;

          a {
            color: #fff;
            padding: 10px;
          }

          a:hover {
            color: #cec7c7;
            border-bottom: #fff solid 2px;
          }
        }
      }
    }
  }
}

.main {
  width: 80vw;
  margin: 0 auto;

  .welcome {
    .welcome__title {
      padding-top: 60px;
      margin: 0;
    }
    hr {
      margin-top: 10px;
    }
    .welcome-modules {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .welcome__blog {
        width: 700px;
        margin-right: 30px;

        .welcome__blog__title {
          padding-top: 30px;
          padding-bottom: 20px;
          margin: 0;
        }

        .welcome__blog__subtitle {
          padding-bottom: 17px;
          margin: 0;

          line-height: 27px;
        }
      }

      @import "slider";
    }
  }

  .skills {
    display: flex;
    flex-direction: row;

    .skills__module {
      padding-top: 40px;
      padding-right: 140px;
      width: 340px;
      margin: 0;

      .skills__module__title {
        padding-left: 3px;

        img {
          float: left;
          padding-right: 15px;
        }

        h3 {
          padding-top: 2px;
          padding-left: 2px;
        }
      }

      .skills__module__text {
        line-height: 27px;
        // padding-top: -2px;
      }
    }
  }

  .about-me {
    .about-me__title {
      padding-top: 85px;
      margin: 0;
    }

    hr {
      margin-top: 10px;
    }

    .blocks {
      display: flex;
      flex-direction: row;

      .about-me__blog {
        width: 700px;

        .about-me__blog__title {
          line-height: 27px;
          padding-top: 12px;
        }
      }

      .about-me__blog__quotes {
        padding-top: 23px;

        #fir-quote {
          border-left: 3px solid #ec6767;
        }

        #sec-quote {
          border-left: 3px solid #aab6ff;
        }

        #thir-quote {
          border-left: 3px solid #6be4d5;
        }

        .about-me__blog__quote-block {
          width: 700px;
          height: 141px;
          margin-bottom: 30px;

          img {
            padding: 20px 0 0 25px;
            margin: 0;
          }

          .about-me__blog__quote-block__quote {
            width: 580px;
            padding-left: 57px;
            font-style: italic;
            padding-bottom: 30px;
            background-color: #fff;
            margin: 0;

            p {
              margin: 0;
              font-weight: 300;
              color: #474747;
              letter-spacing: 0;
              line-height: 27px;
            }
          }
        }
      }

      @import "article";

      .about-me__blog__paragraphs {
        margin: 0;

        .about-me__blog__paragraphs__title {
          margin: 0;
          padding-top: 22px;
        }

        .about-me__blog__paragraphs__block {
          padding-top: 5px;

          .about-me__blog__paragraphs__block__paragraph {
            display: flex;
            flex-direction: row;
            min-height: 27px;
            max-height: 81px;
            padding-top: 15px;

            img {
              height: 15px;
              width: 15px;
              padding-top: 5px;

              margin: 0;
            }

            p {
              padding-left: 10px;
              line-height: 27px;
              margin: 0;
            }
          }
        }
      }

      .right-block {
        padding-left: 30px;

        .about-me__blog__photos {
          .about-me__blog__photos__title {
            margin: 0;
            padding-top: 30px;
          }

          .about-me__blog__photos__block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            img {
              margin-left: -2px;
              margin-right: 48px;
              margin-top: 22px;
              margin-bottom: 25px;

              padding: 12px;

              border: 1px solid #cec7c7;
              width: 136px;
              height: 136px;
            }

            // #col-3{
            //     margin-right: 0;
            // }
          }
        }

        .about-me__blog__links {
          .bout-me__blog__links__blocks {
            margin-top: 27px;

            .bout-me__blog__links__block__link {
              margin-bottom: 42.5px;

              a {
                margin-left: 17px;
                color: #474747;
              }
              a:hover {
                color: #cf5858;
              }
            }
          }
        }
      }
    }
  }

  .contact {
    margin: 0;
    padding-top: 65px;

    .contact__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .contact__block__form {
        width: 700px;

        .contact__block__form__title {
          margin: 0;
          padding-top: 7px;
          padding-bottom: 40px;
        }

        form {
          .inputs-block {
            display: flex;
            flex-direction: row;
          }

          .column-1 {
            margin-right: 20px;
          }

          input {
            margin-top: 10px;
            margin-bottom: 22px;
          }

          .radio-title {
            margin: 0;
          }

          .radio-buttons {
            .radio-button {
              display: flex;
              flex-direction: row;
              height: 24px;
              margin-top: 4px;
              margin-bottom: 19px;

              p {
                margin-left: 11px;
              }

              input {
                margin-top: 15px;
                margin-left: 0;
                margin-bottom: 0;
              }
            }
          }

          textarea {
            margin-top: 25px;
          }

          .chekbox-block {
            display: flex;
            flex-direction: row;
            margin-top: 3px;
            margin-bottom: 47px;
            margin-left: -5px;
            height: 24px;

            input {
              margin-top: 17px;
            }
            p {
              margin-top: 18px;
              margin-left: 10px;
            }
          }
        }

        @import "inputs";
      }

      .contact__info {
        margin: 0;
        width: 580px;

        .contact__info__title {
          margin-top: 8px;
          margin-bottom: 0;
        }
        p {
          margin-top: 20px;
          line-height: 27px;
        }

        .contact__info__block__company {
          display: flex;
          flex-direction: row;
          padding-top: 8px;

          p {
            margin-left: 13px;
          }

          .contact__info__block__company-name {
            display: flex;
            flex-direction: row;

            img {
              width: 24px;
              height: 24px;
              position: relative;
              top: 18px;
            }
          }

          .contact__info__block__company-street {
            display: flex;
            flex-direction: row;

            img {
              width: 24px;
              height: 29px;

              margin-top: 15px;
            }

            p {
              margin-left: 20px;
              padding: 0 20px;
              border-left: 1px solid #cec7c7;
            }
          }

          .contact__info__block__company-city {
            p {
              // margin-left: 20px;
              padding: 0 20px;
              border-left: 1px solid #cec7c7;
            }
          }
        }

        .contact__info__block__phone {
          display: flex;
          flex-direction: row;

          img {
            width: 24px;
            height: 24px;

            margin-top: 15px;
          }

          p {
            margin-top: 12px;
            margin-left: 13px;
          }
        }

        .contact__info__block__email {
          display: flex;
          flex-direction: row;

          img {
            width: 24px;
            height: 19px;

            margin-top: 15px;
          }

          p {
            margin-top: 12px;
            margin-left: 13px;

            a {
              color: #ec6767;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 80vw;
  margin: 0 auto;
  margin-top: 60px;

  .section__links {
    display: flex;
    justify-content: space-between;

    .section__links__text {
      h2 {
        color: #ec6767;
        margin: 0;
        margin-top: 40px;
      }
      p {
        width: 340px;
        color: #fff;
        line-height: 27px;
      }
    }
    .section__links__link {
      nav {
        margin-top: 50px;
        margin-left: -130px;

        h4 {
          color: #fff;
        }
        ul {
          li {
            padding: 0;
            margin: 0;
            display: block;
            margin-bottom: 8px;

            a {
              color: #fff;
              font-size: 16px;
              margin: 0;
              margin-left: -40px;
            }
            a:hover {
              text-decoration: underline;
              color: #cec7c7;
            }
          }
        }
      }
      .RESOURCES {
        margin-left: -160px;
      }

      .MENU {
        margin-left: -190px;
      }

      .INFORMATION {
        margin-left: -220px;
      }
    }
  }

  .section__social-networks {
    display: flex;
    flex-direction: row;
    padding-bottom: 39px;

    h4 {
      color: #fff;
      margin: 0;
      margin-top: -40px;
    }

    .youtube {
      margin-left: -62px;
    }
    .facebook {
      margin-left: 3px;
    }
    a {
      margin-top: 5px;
      margin-right: 15px;
    }
  }
}
