:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body{
  width: 980px;
  margin: 0 auto;
}

header{
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 5px;
  background-color: var(--light);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.3);
}

header .header_text h1{
  margin: 0;
  color: var(--dark);
  font-family: var(--secondary-font);
}

header .header_text p{
  margin: 0;
  font-family: var(--primary-font);
}

main {
  display: grid;
  grid-template-columns: 640px 340px;
}

.gallery-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  gap: 10px;
  margin: 5px;
  padding: 5px;
  background-color: var(--light);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.gallery-container>div:hover{
  background-color: #f2c744;
  opacity: 0.4;
  cursor: pointer;
}
.gallery-item-1{
  grid-row: span 2;
  background-image: url("https://picsum.photos/500/500");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-2{
  grid-row: span 3;
  background-image: url("https://picsum.photos/500/300");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-3{
  grid-row: span 6;
  background-image: url("https://picsum.photos/600/555");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-4{
  grid-row: span 4;
  background-image: url("https://picsum.photos/350/810");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-5{
  grid-row: span 2;
  background-image: url("https://picsum.photos/350/405");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-6{
  grid-row: span 3;
  background-image: url("https://picsum.photos/350/620");
  background-position: center;
  background-size: cover;
  border-radius: 5px;

}
.gallery-item-7{
  grid-row: span 3;
  background-image: url("https://picsum.photos/350/610");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-8{
  grid-row: span 2;
  background-image: url("https://picsum.photos/350/410");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-9{
  grid-row: span 4;
  background-image: url("https://picsum.photos/350/455");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-10{
  grid-row: span 4;
  background-image: url("https://picsum.photos/350/666");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}
.gallery-item-11{
  grid-row: span 2;
  background-image: url("https://picsum.photos/350/343");
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

article{
  display: grid;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: var(--light);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.3);
}

article .info_text h3{
  font-family: var(--secondary-font);
  color: var(--dark);
}

article .info_text p{
  font-family: var(--primary-font);
}

.icons svg{
  width:20px;
  height:20px;
  
}

footer{
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 5px;
  background-color: var(--light);
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.3);
}

footer h5{
  margin: 0;
  margin-bottom: 4px;
  font-size: 14px;
  font-family: var(--secondary-font);
}

footer p{
  margin: 0;
  margin-bottom: 6px;
  font-size: 14px;
  font-family: var(--primary-font);
}

@media (min-width: 768px) and (max-width: 1024px) {
  body{
    width: 80%;
    margin: 0 auto;
  }
}