* {
  margin: 0;
  padding: 0; }

.banner {
  margin: 30px auto;
  width: 336px;
  height: 280px;
  position: relative;
  overflow: hidden;
  z-index: 999; }
  .banner img {
    position: absolute; }
  .banner .space-bg {
    z-index: -1; }
  .banner .left-side .shoes img {
    z-index: 2;
    width: 600px;
    left: -380px;
    bottom: -70px; }
  .banner .left-side .model-name img {
    bottom: 15px;
    left: 60px; }
  .banner .center .spiral img {
    z-index: 1;
    bottom: 0;
    left: 165px; }
  .banner .right-side .white-bg .background {
    z-index: 0;
    right: 0; }
  .banner .right-side .white-bg .goodbye-gravity .goodbye img {
    bottom: 60px;
    right: 80px; }
  .banner .right-side .white-bg .goodbye-gravity .gravity img {
    bottom: 60px;
    right: 40px; }
  .banner .right-side .white-bg .brand-logo img {
    bottom: 60px;
    right: 40px; }
  .banner .right-side .white-bg .button img {
    bottom: 10px;
    right: 10px; }

.banner:hover .space-bg {
  animation: 3.5s background-animation; }
.banner:hover .shoes img {
  opacity: 0;
  animation: 2.5s shoes-animation;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }
.banner:hover .model-name img {
  opacity: 0;
  animation: 1s model_name-animation;
  animation-delay: 1s;
  animation-fill-mode: forwards; }
.banner:hover .spiral img {
  opacity: 0;
  animation: 1s spiral-animation;
  animation-delay: 1s;
  animation-fill-mode: forwards; }
.banner:hover .white-bg .background {
  opacity: 0;
  animation: 1s white_bg-animation;
  animation-delay: 1s;
  animation-fill-mode: forwards; }
.banner:hover .goodbye-gravity img {
  opacity: 0;
  animation: 1.5s goodbye_gravity-animation;
  animation-fill-mode: forwards; }
.banner:hover .goodbye-gravity .goodbye img {
  animation-delay: 1s; }
.banner:hover .goodbye-gravity .gravity img {
  animation-delay: 1.5s; }
.banner:hover .brand-logo img {
  opacity: 0;
  animation: 1.5s logo-animation;
  animation-delay: 1s;
  animation-fill-mode: forwards; }
.banner:hover .button img {
  opacity: 0;
  animation: 1s button-animation;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

@keyframes background-animation {
  0% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
@keyframes shoes-animation {
  0% {
    left: 200px;
    top: 100px;
    width: 0%;
    opacity: 1; }
  100% {
    left: -380px;
    top: -104px;
    width: 600px;
    opacity: 1; } }
@keyframes model_name-animation {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes spiral-animation {
  0% {
    bottom: -100px;
    opacity: 1; }
  100% {
    bottom: 0;
    opacity: 1; } }
@keyframes white_bg-animation {
  0% {
    bottom: 300px;
    opacity: 1; }
  30% {
    bottom: 0; }
  40% {
    bottom: 60px; }
  55% {
    bottom: 0; }
  65% {
    bottom: 30px; }
  75% {
    bottom: 0; }
  80% {
    bottom: 10px; }
  100% {
    bottom: 0;
    opacity: 1; } }
@keyframes goodbye_gravity-animation {
  0% {
    bottom: 300px;
    opacity: 1; }
  100% {
    bottom: 60px;
    opacity: 1; } }
@keyframes logo-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes button-animation {
  0% {
    bottom: 300px;
    opacity: 1; }
  40% {
    bottom: 0; }
  50% {
    bottom: 30px; }
  65% {
    bottom: 0; }
  75% {
    bottom: 20px; }
  90% {
    bottom: 0; }
  100% {
    bottom: 10px;
    opacity: 1; } }
