h1 {
  font-size: 50px;
  font-weight: 700; }

h2 {
  font-size: 30px;
  font-weight: 400; }

h3 {
  font-size: 25px;
  font-weight: 400; }

h4 {
  font-size: 18px;
  font-weight: 400; }

h5 {
  font-size: 16px;
  font-weight: 400; }

p {
  font-weight: 400; }

.youtube {
  background: url("../images/img/a-icon-youtube.png") no-repeat;
  display: block;
  width: 21px;
  height: 16px; }

.linkedIn {
  background: url("../images/img/a-icon-linkedIn.png") no-repeat;
  display: block;
  width: 21px;
  height: 16px; }

.twitter {
  background: url("../images/img/a-icon-twitter.png") no-repeat;
  display: block;
  width: 21px;
  height: 16px; }

.facebook {
  background: url("../images/img/a-icon-facebook.png") no-repeat;
  display: block;
  width: 21px;
  height: 16px; }

.youtube:hover {
  background: url("../images/img/a-icon-youtube-hover.png") no-repeat; }

.linkedIn:hover {
  background: url("../images/img/a-icon-linkedin-hover.png") no-repeat; }

.twitter:hover {
  background: url("../images/img/a-icon-twitter-hover.png") no-repeat; }

.facebook:hover {
  background: url("../images/img/a-icon-facebook-hover.png") no-repeat; }

.youtube:active {
  background: url("../images/img/a-icon-youtube-active.png") no-repeat; }

.linkedIn:active {
  background: url("../images/img/a-icon-linkedin-active.png") no-repeat; }

.twitter:active {
  background: url("../images/img/a-icon-twitter-active.png") no-repeat; }

.facebook:active {
  background: url("../images/img/a-icon-facebook-active.png") no-repeat; }

a {
  text-decoration: none;
  font-size: 18px; }

body {
  width: 100vw;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fbfbfb; }
  body .background {
    background-color: #474747; }

.header {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header .logo {
    display: flex;
    flex-direction: row; }
    .header .logo .logo__img {
      padding: 17px 0;
      height: 66px; }
    .header .logo .logo__text {
      color: #ec6767;
      margin: 0;
      padding: 32px 20px; }
  .header .menu .menu__nav ul {
    padding: 23px 0; }
    .header .menu .menu__nav ul li {
      text-decoration: none;
      display: inline;
      padding-left: 20.5px;
      margin: 0; }
      .header .menu .menu__nav ul li a {
        color: #fff;
        padding: 10px; }
      .header .menu .menu__nav ul li a:hover {
        color: #cec7c7;
        border-bottom: #fff solid 2px; }

.main {
  width: 80vw;
  margin: 0 auto; }
  .main .welcome .welcome__title {
    padding-top: 60px;
    margin: 0; }
  .main .welcome hr {
    margin-top: 10px; }
  .main .welcome .welcome-modules {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .main .welcome .welcome-modules .welcome__blog {
      width: 700px;
      margin-right: 30px; }
      .main .welcome .welcome-modules .welcome__blog .welcome__blog__title {
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0; }
      .main .welcome .welcome-modules .welcome__blog .welcome__blog__subtitle {
        padding-bottom: 17px;
        margin: 0;
        line-height: 27px; }
    .main .welcome .welcome-modules .welcome__slider {
      padding-top: 30px;
      margin: 0;
      position: relative; }
      .main .welcome .welcome-modules .welcome__slider .welcome__slider__prev {
        position: absolute;
        left: 34px;
        top: 205px; }
      .main .welcome .welcome-modules .welcome__slider .welcome__slider__next {
        position: absolute;
        right: 34px;
        top: 205px; }
      .main .welcome .welcome-modules .welcome__slider .cursor:hover {
        cursor: pointer; }
      .main .welcome .welcome-modules .welcome__slider .welcome__slider-title {
        position: absolute;
        bottom: 40px;
        left: 25px;
        color: #fff; }
      .main .welcome .welcome-modules .welcome__slider .welcome__slider-slide__counter {
        position: absolute;
        bottom: 40px;
        right: 25px;
        color: #fff; }
  .main .skills {
    display: flex;
    flex-direction: row; }
    .main .skills .skills__module {
      padding-top: 40px;
      padding-right: 140px;
      width: 340px;
      margin: 0; }
      .main .skills .skills__module .skills__module__title {
        padding-left: 3px; }
        .main .skills .skills__module .skills__module__title img {
          float: left;
          padding-right: 15px; }
        .main .skills .skills__module .skills__module__title h3 {
          padding-top: 2px;
          padding-left: 2px; }
      .main .skills .skills__module .skills__module__text {
        line-height: 27px; }
  .main .about-me .about-me__title {
    padding-top: 85px;
    margin: 0; }
  .main .about-me hr {
    margin-top: 10px; }
  .main .about-me .blocks {
    display: flex;
    flex-direction: row; }
    .main .about-me .blocks .about-me__blog {
      width: 700px; }
      .main .about-me .blocks .about-me__blog .about-me__blog__title {
        line-height: 27px;
        padding-top: 12px; }
    .main .about-me .blocks .about-me__blog__quotes {
      padding-top: 23px; }
      .main .about-me .blocks .about-me__blog__quotes #fir-quote {
        border-left: 3px solid #ec6767; }
      .main .about-me .blocks .about-me__blog__quotes #sec-quote {
        border-left: 3px solid #aab6ff; }
      .main .about-me .blocks .about-me__blog__quotes #thir-quote {
        border-left: 3px solid #6be4d5; }
      .main .about-me .blocks .about-me__blog__quotes .about-me__blog__quote-block {
        width: 700px;
        height: 141px;
        margin-bottom: 30px; }
        .main .about-me .blocks .about-me__blog__quotes .about-me__blog__quote-block img {
          padding: 20px 0 0 25px;
          margin: 0; }
        .main .about-me .blocks .about-me__blog__quotes .about-me__blog__quote-block .about-me__blog__quote-block__quote {
          width: 580px;
          padding-left: 57px;
          font-style: italic;
          padding-bottom: 30px;
          background-color: #fff;
          margin: 0; }
          .main .about-me .blocks .about-me__blog__quotes .about-me__blog__quote-block .about-me__blog__quote-block__quote p {
            margin: 0;
            font-weight: 300;
            color: #474747;
            letter-spacing: 0;
            line-height: 27px; }
    .main .about-me .blocks .about-me__blog__article {
      padding-top: 10px; }
      .main .about-me .blocks .about-me__blog__article .about-me__blog__article__title {
        margin: 0; }
      .main .about-me .blocks .about-me__blog__article p {
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px; }
      .main .about-me .blocks .about-me__blog__article .about-me__blog__article__first-paragraph {
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: 54px; }
        .main .about-me .blocks .about-me__blog__article .about-me__blog__article__first-paragraph span {
          margin-top: 18px;
          font-size: 50px;
          font-family: "Lucida Grande", sans-serif; }
        .main .about-me .blocks .about-me__blog__article .about-me__blog__article__first-paragraph p {
          width: 666px;
          margin-top: 20px;
          margin-left: 8px; }
      .main .about-me .blocks .about-me__blog__article .about-me__blog__article__second-paragraph {
        padding-top: 2px; }
    .main .about-me .blocks .about-me__blog__paragraphs {
      margin: 0; }
      .main .about-me .blocks .about-me__blog__paragraphs .about-me__blog__paragraphs__title {
        margin: 0;
        padding-top: 22px; }
      .main .about-me .blocks .about-me__blog__paragraphs .about-me__blog__paragraphs__block {
        padding-top: 5px; }
        .main .about-me .blocks .about-me__blog__paragraphs .about-me__blog__paragraphs__block .about-me__blog__paragraphs__block__paragraph {
          display: flex;
          flex-direction: row;
          min-height: 27px;
          max-height: 81px;
          padding-top: 15px; }
          .main .about-me .blocks .about-me__blog__paragraphs .about-me__blog__paragraphs__block .about-me__blog__paragraphs__block__paragraph img {
            height: 15px;
            width: 15px;
            padding-top: 5px;
            margin: 0; }
          .main .about-me .blocks .about-me__blog__paragraphs .about-me__blog__paragraphs__block .about-me__blog__paragraphs__block__paragraph p {
            padding-left: 10px;
            line-height: 27px;
            margin: 0; }
    .main .about-me .blocks .right-block {
      padding-left: 30px; }
      .main .about-me .blocks .right-block .about-me__blog__photos .about-me__blog__photos__title {
        margin: 0;
        padding-top: 30px; }
      .main .about-me .blocks .right-block .about-me__blog__photos .about-me__blog__photos__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .main .about-me .blocks .right-block .about-me__blog__photos .about-me__blog__photos__block img {
          margin-left: -2px;
          margin-right: 48px;
          margin-top: 22px;
          margin-bottom: 25px;
          padding: 12px;
          border: 1px solid #cec7c7;
          width: 136px;
          height: 136px; }
      .main .about-me .blocks .right-block .about-me__blog__links .bout-me__blog__links__blocks {
        margin-top: 27px; }
        .main .about-me .blocks .right-block .about-me__blog__links .bout-me__blog__links__blocks .bout-me__blog__links__block__link {
          margin-bottom: 42.5px; }
          .main .about-me .blocks .right-block .about-me__blog__links .bout-me__blog__links__blocks .bout-me__blog__links__block__link a {
            margin-left: 17px;
            color: #474747; }
          .main .about-me .blocks .right-block .about-me__blog__links .bout-me__blog__links__blocks .bout-me__blog__links__block__link a:hover {
            color: #cf5858; }
  .main .contact {
    margin: 0;
    padding-top: 65px; }
    .main .contact .contact__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .main .contact .contact__block .contact__block__form {
        width: 700px; }
        .main .contact .contact__block .contact__block__form .contact__block__form__title {
          margin: 0;
          padding-top: 7px;
          padding-bottom: 40px; }
        .main .contact .contact__block .contact__block__form form .inputs-block {
          display: flex;
          flex-direction: row; }
        .main .contact .contact__block .contact__block__form form .column-1 {
          margin-right: 20px; }
        .main .contact .contact__block .contact__block__form form input {
          margin-top: 10px;
          margin-bottom: 22px; }
        .main .contact .contact__block .contact__block__form form .radio-title {
          margin: 0; }
        .main .contact .contact__block .contact__block__form form .radio-buttons .radio-button {
          display: flex;
          flex-direction: row;
          height: 24px;
          margin-top: 4px;
          margin-bottom: 19px; }
          .main .contact .contact__block .contact__block__form form .radio-buttons .radio-button p {
            margin-left: 11px; }
          .main .contact .contact__block .contact__block__form form .radio-buttons .radio-button input {
            margin-top: 15px;
            margin-left: 0;
            margin-bottom: 0; }
        .main .contact .contact__block .contact__block__form form textarea {
          margin-top: 25px; }
        .main .contact .contact__block .contact__block__form form .chekbox-block {
          display: flex;
          flex-direction: row;
          margin-top: 3px;
          margin-bottom: 47px;
          margin-left: -5px;
          height: 24px; }
          .main .contact .contact__block .contact__block__form form .chekbox-block input {
            margin-top: 17px; }
          .main .contact .contact__block .contact__block__form form .chekbox-block p {
            margin-top: 18px;
            margin-left: 10px; }
        .main .contact .contact__block .contact__block__form button {
          width: 220px;
          height: 48px;
          background-color: #ec6767;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          font-family: "Lato", sans-serif;
          text-align: center; }
        .main .contact .contact__block .contact__block__form button:hover {
          background-color: #cf5858; }
        .main .contact .contact__block .contact__block__form button:active {
          background-color: #b64747; }
        .main .contact .contact__block .contact__block__form label {
          color: #474747;
          font-size: 18px; }
        .main .contact .contact__block .contact__block__form .input {
          margin-right: 50px;
          width: 100%;
          height: 48px;
          background-color: #fff;
          border: 1px solid #a6a6a6;
          color: #a6a6a6;
          font-size: 18px; }
        .main .contact .contact__block .contact__block__form textarea {
          width: 70%;
          min-height: 100px;
          resize: none; }
        .main .contact .contact__block .contact__block__form .radio-button input {
          position: relative;
          top: 3px;
          height: 16px;
          background-color: #474747; }
        .main .contact .contact__block .contact__block__form .radio-button p {
          position: relative;
          left: -5px; }
        .main .contact .contact__block .contact__block__form .radio-button input:hover {
          color: #dedbdb; }
        .main .contact .contact__block .contact__block__form .radio-button input:active {
          color: #474747; }
        .main .contact .contact__block .contact__block__form .chekbox-block input {
          height: 24px;
          width: 24px; }
      .main .contact .contact__block .contact__info {
        margin: 0;
        width: 580px; }
        .main .contact .contact__block .contact__info .contact__info__title {
          margin-top: 8px;
          margin-bottom: 0; }
        .main .contact .contact__block .contact__info p {
          margin-top: 20px;
          line-height: 27px; }
        .main .contact .contact__block .contact__info .contact__info__block__company {
          display: flex;
          flex-direction: row;
          padding-top: 8px; }
          .main .contact .contact__block .contact__info .contact__info__block__company p {
            margin-left: 13px; }
          .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-name {
            display: flex;
            flex-direction: row; }
            .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-name img {
              width: 24px;
              height: 24px;
              position: relative;
              top: 18px; }
          .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-street {
            display: flex;
            flex-direction: row; }
            .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-street img {
              width: 24px;
              height: 29px;
              margin-top: 15px; }
            .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-street p {
              margin-left: 20px;
              padding: 0 20px;
              border-left: 1px solid #cec7c7; }
          .main .contact .contact__block .contact__info .contact__info__block__company .contact__info__block__company-city p {
            padding: 0 20px;
            border-left: 1px solid #cec7c7; }
        .main .contact .contact__block .contact__info .contact__info__block__phone {
          display: flex;
          flex-direction: row; }
          .main .contact .contact__block .contact__info .contact__info__block__phone img {
            width: 24px;
            height: 24px;
            margin-top: 15px; }
          .main .contact .contact__block .contact__info .contact__info__block__phone p {
            margin-top: 12px;
            margin-left: 13px; }
        .main .contact .contact__block .contact__info .contact__info__block__email {
          display: flex;
          flex-direction: row; }
          .main .contact .contact__block .contact__info .contact__info__block__email img {
            width: 24px;
            height: 19px;
            margin-top: 15px; }
          .main .contact .contact__block .contact__info .contact__info__block__email p {
            margin-top: 12px;
            margin-left: 13px; }
            .main .contact .contact__block .contact__info .contact__info__block__email p a {
              color: #ec6767;
              text-decoration: none; }

.footer {
  width: 80vw;
  margin: 0 auto;
  margin-top: 60px; }
  .footer .section__links {
    display: flex;
    justify-content: space-between; }
    .footer .section__links .section__links__text h2 {
      color: #ec6767;
      margin: 0;
      margin-top: 40px; }
    .footer .section__links .section__links__text p {
      width: 340px;
      color: #fff;
      line-height: 27px; }
    .footer .section__links .section__links__link nav {
      margin-top: 50px;
      margin-left: -130px; }
      .footer .section__links .section__links__link nav h4 {
        color: #fff; }
      .footer .section__links .section__links__link nav ul li {
        padding: 0;
        margin: 0;
        display: block;
        margin-bottom: 8px; }
        .footer .section__links .section__links__link nav ul li a {
          color: #fff;
          font-size: 16px;
          margin: 0;
          margin-left: -40px; }
        .footer .section__links .section__links__link nav ul li a:hover {
          text-decoration: underline;
          color: #cec7c7; }
    .footer .section__links .section__links__link .RESOURCES {
      margin-left: -160px; }
    .footer .section__links .section__links__link .MENU {
      margin-left: -190px; }
    .footer .section__links .section__links__link .INFORMATION {
      margin-left: -220px; }
  .footer .section__social-networks {
    display: flex;
    flex-direction: row;
    padding-bottom: 39px; }
    .footer .section__social-networks h4 {
      color: #fff;
      margin: 0;
      margin-top: -40px; }
    .footer .section__social-networks .youtube {
      margin-left: -62px; }
    .footer .section__social-networks .facebook {
      margin-left: 3px; }
    .footer .section__social-networks a {
      margin-top: 5px;
      margin-right: 15px; }

/*# sourceMappingURL=style.css.map */
