html,
body {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.8rem;
}

.btn-secondary {
    background-color: #ff7f50;
    outline: none;
    border: none;
}