body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; }

.section, .landing-logo p, .section_card_right_container, .section_banner, .footer, .footer-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.header {
  height: 90vh;
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-position: right 50% bottom 50%;
  background-size: cover;
  border-bottom-right-radius: 50% 50%;
  color: black; }

.header-wrap {
  padding: 10px 200px;
  width: 40vw; }

.header-wrap div:last-child {
  margin-top: 60px; }

.header_button,
.section_banner_button {
  width: 120px;
  height: 40px;
  background-color: #699900;
  color: white;
  border: none; }
  .header_button:hover,
  .section_banner_button:hover {
    background-color: lightgrey; }
  .header_button:active,
  .section_banner_button:active {
    background-color: grey;
    border: none; }

.header_button {
  margin-right: 200px; }

.landing-logo img {
  float: left; }
.landing-logo p {
  margin: 0;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
  font-size: 25px;
  float: left;
  width: 100px; }
.landing-logo span {
  margin: -10px;
  font-weight: normal;
  font-size: 10px; }

.header_heading {
  position: relative;
  padding-top: 50px;
  margin-bottom: 20px;
  display: block;
  font-size: 80px;
  font-weight: bold;
  line-height: 90px;
  z-index: 10; }

.header_heading::after {
  content: "awesome";
  position: absolute;
  color: transparent;
  background-color: #14a0c7;
  z-index: -10;
  width: 334px;
  height: 50px;
  bottom: 16px;
  left: 0; }

.header_text {
  line-height: 200%; }

.login,
.section_link {
  color: white; }
  .login:active,
  .section_link:active {
    color: white; }
  .login:hover,
  .section_link:hover {
    color: grey; }

.section_text {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
  color: black; }
  .section_text::after {
    content: "adventure";
    position: absolute;
    color: transparent;
    background-color: #14a0c7;
    z-index: -10;
    width: 150px;
    height: 35px;
    left: 50.2%; }

.section_card {
  padding: 15px;
  margin: 20px;
  width: 60vw;
  height: 32vh;
  background-color: #21232e;
  overflow: hidden; }

.section_card_img {
  float: left;
  height: 100%;
  border-radius: 5px; }

.section_card_right_container {
  margin: auto;
  width: 50%; }

.section_card_right_container p,
.section_banner_text {
  color: white; }

.section_card_heading {
  font-weight: bold;
  font-size: 30px; }

.section_banner {
  padding: 0 100px 20px 100px;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  top: 75px;
  width: 60vw;
  background: #699900;
  background: linear-gradient(112deg, #699900 0%, #3260c8 100%);
  z-index: 0; }

.section_banner_heading {
  margin-bottom: 0px;
  font-size: 30px;
  color: black;
  font-weight: bold; }
  .section_banner_heading::after {
    content: "start";
    position: absolute;
    color: transparent;
    background-color: #14a0c7;
    z-index: -10;
    width: 70px;
    height: 35px;
    left: 218px; }

.footer {
  width: 100vw;
  height: 30vh;
  background-color: #21232e;
  z-index: -10; }

.footer-wrap {
  width: 80vw;
  height: 0vh;
  color: white;
  flex-direction: row;
  justify-content: space-between; }

.footer_text {
  width: 300px; }
