body{
    padding: 0;
    margin: auto;
    text-align: center;
}

.choose{
    display: inline-block;
}

#country_arrow{
    color: yellow;
}

table{
    margin: auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: #f5f5f5;
}
tr{
    margin: 0;
    padding: 0;    

}

th{
    background-color: tomato;
    color: white;
    width: 150px;
    height: 50px;    
    border: 1px solid white;
}

td{
    border: 1px solid #dfdada;
}